<!-- Body - Container -->
<div class="container" >
    <!-- Content -->
    <!-- Form liên hệ -->
    <div class="content " id="contentLienHe">
        <div class="row box-lienhe">
            <div class="col-6">
                <div class="form-lienhe ">
                    <form action="">
                        <h1>{{tieuDeTinTuc}}</h1>
                        <span ><p><i class="bi bi-house-door-fill me-2"></i>Công ty TNHH Tư vấn và Du lịch Tiên Phong</p></span>
                        <span><p><i class="bi bi-geo-alt-fill me-2"></i> Địa chỉ: Tầng 2, số 3 Yên Lãng, Đống Đa, Hà Nội, Việt Nam</p></span>
                        <span><p><i class="bi bi-phone-vibrate-fill me-2"></i>Hotline: 0938716888</p></span>
                        <span><p><i class="bi bi-telephone-fill me-2"></i>Điện thoạii: (+84)2439432666 </p></span>
                        <span><p><i class="bi bi-envelope-arrow-up-fill me-2"></i>Email: phuqxxxxvel2@gmail.com</p></span>
                        <!-- Họ và tên-->
                        <div class="form-group">
                            <label for=""></label>
                            <input type="text" class="form-control" placeholder="Họ và tên">
                        </div>
                        <!-- Điện thoai -->
                        <div class="form-group">
                            <label for=""></label>
                            <input type="text" class="form-control" placeholder="Số điện thoai">
                        </div>
                        <!-- Địa chỉ email -->
                        <div class="form-group">
                            <label for=""></label>
                            <input type="text" class="form-control" placeholder="Địa chỉ email">
                        </div>
                        <!-- Nội dung liên hệ -->
                        <div class="form-group">
                            <label for=""></label>
                            <textarea name="" id="" cols="" rows="4" class="form-control" placeholder="Nội dung liên hệ"></textarea>
                        </div>

                        <div class="btn btn-outline-warning mt-5 form-control ">GỬI NGAY</div>

                    </form>
                </div>
            </div>
            <div class="col-6">
                <div class="noidung bg-light">
                        <h1 class="text-center">{{tieude}}</h1>
                        <div class="element-container">
                            <p>Phương châm dịch vụ mà chúng tôi luôn hướng đến là “Hãy phục vụ khách hàng như cách mà bạn muốn được phục vụ” đã đưa chúng tôi tới thành công ngày hôm nay.</p>
                            <p>Không chỉ cung cấp dịch vụ ngày một hoàn thiện mà còn là người bạn đồng hành trong mọi chuyến đi của khách hàng, đó cũng là giá trị cốt lõi của những gì chúng tôi làm, hỗ trợ khách hàng bất cứ khi nào có khó khăn trong hành trình của họ.</p>
                            <p>Với gần 30 năm kinh nghiệm và được sự đánh giá cao từ khách hàng, chúng tôi tin rằng chúng tôi luôn là lựa chọn đầu tiên đối với các công ty và khách hàng thường xuyên khi họ tìm kiếm một đại lý du lịch chuyên nghiệp và tận tâm.</p>
                            <div class="footer-container">                                      
                                    <span class="">Niềm vui và sự hài lòng của khách hàng
                                        <br>
                                        là thành công của chúng tôi!
                                    </span>                              
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div> 

      
    
    
</div>