 <!-- Đặt vé máy bay -->
 <div class="datvemaybay" id="datvemaybay">
    <div class="btn  my-4 btn-vemaybay" id="myButton">Vé Máy Bay</div>
    <div class="btn  my-4 btn-vemaybay" id="myButton">Tour Du Lịch</div>
    <div class="row">
        <div class=" d-flex">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label me-4" for="flexRadioDefault1">
                    Một Chiều
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Khứ Hồi
                </label>
              </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2">
            <div class="fomr-group">
                <label for="" class="mb-2">Điểm Đi</label>
                <input type="text" class="form-control" placeholder="Nhập vào điểm đi">
            </div>
        </div>
        <!-- -->
        <div class="col-2">
            <div class="fomr-group">
                <i class="arrow-right-square-fill bg-white "></i> 
                <label for="" class="mb-2">Điểm Đến</label>
                <input type="text" class="form-control"  placeholder="Nhập vào điểm đến">
            </div>
        </div>
        <div class="col-2">
            <div class="fomr-group">
                <label for="" class="mb-2">Ngày đi</label>
                <input type="date" id="datepicker" class="form-control">
                <p id="selectedDate"></p>
            </div>
        </div>
        <div class="col-2">
            <div class="fomr-group">
                <label for="" class="mb-2">Ngày Về</label>
                <input type="date" id="datepicker" class="form-control">
                <p id="selectedDate"></p>
            </div>
        </div>
        <div class="col-2">
            <div class="fomr-group">
                <label for="" class="mb-2">Số Khách</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected><i class="bi bi-person "></i>1 Khách hàng</option>
                    <option value="1">Người lớn(>12)</option>
                    <option value="2">Trẻ em(2-11)</option>
                    <option value="3">Em bé  </option>
                  </select>
            </div>
        </div>
        <div class="col-2 mt-4">
            <div class="btn btn-success mt-2 w-100">Tìm kiếm</div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="container" >

<!-- Form Dat ve may bay -->
<div class="content" id="contentDatVeMayBay">
    <div class="row box-lienhe">
        <div class="col-6">
            <div class="form-lienhe ">
                <form  ng-submit="onEdit()"  name="formFightBooking">
                    <h1 class="text-center">Sửa vé máy bay</h1>
                    <!-- Họ và tên-->
                   <div class="row">
                        <div class="col-6 ">
                            <div class="form-group">
                                <label for="" class="mb-2">Họ và tên</label>
                                <input type="text" name="FullName" class="form-control" ng-model="booking.FullName" placeholder="Họ và tên" ng-click="clearError('FullName')" ng-focus="clearError('FullName')" ng-blur="clearError('FullName')">
                                <span class="text-danger" ng-if="kiemtra.FullName">{{errorMessages.FullName}}</span>
                            </div>
                        </div>
                         <!-- Điện thoai -->
                        <div class="col-6 ">
                            <div class="form-group">
                                <label for="" class="mb-2">Số điện thoai</label>
                                <input type="text" name="Phone" class="form-control" ng-model="booking.Phone" placeholder="Số điện thoai" ng-click="clearError('Phone')" ng-focus="clearError('Phone')" ng-blur="clearError('Phone')"  >
                                <span class="text-danger" ng-if="kiemtra.Phone">{{errorMessages.Phone}}</span>
                            </div>
                        </div>
                   </div>
                   <!-- Hàng 2 (Chứng minh thư) -->
                    <div class="row mt-4">
                        <div class="col-6  ">
                            <div class="form-group">
                                <label for="" class="mb-2">Chứng minh thư</label>
                                <input type="text" class="form-control"  ng-model="booking.Card" placeholder="Chứng  minh thư" ng-click="clearError('Card')" ng-focus="clearError('Card')" ng-blur="clearError('Card')"  >
                                <span class="text-danger" ng-if="kiemtra.Card">{{errorMessages.Card}}</span>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="form-group">
                                <label for="" class="mb-2">Email</label>
                                <input type="text" class="form-control"  ng-model="booking.Email" placeholder="Email" ng-click="clearError('Email')"  ng-focus="clearError('Email')" ng-blur="clearError('Email')" >
                                <span class="text-danger" ng-if="kiemtra.Email">{{errorMessages.Email}}</span>
                            </div>
                        </div>
                   </div>
                    <!-- Giới tính -->
                    <div class="form-group  my-3">
                        <div class="row">
                            <div class="col-6">
                                <label for="" class="">Giới tính</label>
                            </div>

                            <div class="col-6 ">
                                <div class="form-check form-check-inline">
                                    <input ng-model="booking.Gender" class="form-check-input" type="radio" value="Nam" ng-click="clearError('Gender')"   checked>
                                    <label class="form-check-label " for="flexRadioDefault1">
                                        Nam
                                    </label>
                                  </div>
                                  <div class="form-check form-check-inline">
                                    <input ng-model="booking.Gender" class="form-check-input" type="radio" value="Nữ"  ng-click="clearError('Gender')">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      Nữ
                                    </label>
                                </div>
                                
                              <div>
                                <span class="text-danger" ng-if="kiemtra.Gender">{{errorMessages.Gender}}</span>
                              </div>
                            </div>
                        </div>
                    </div>

                    <!-- Chọn chuyến bay -->
                    <div class="form-group">
                        <div class="row">
                        <div class="col-6">
                            <label for="" class="mt-2">Chọn chuyến bay</label>
                        </div>
                        <div class="col-6">
                            <select ng-model="booking.Flight" class="form-select" aria-label="Default select example" ng-click="clearError('Flight')">
                                <!-- <option selected>--Chọn--</option> -->
                                <option value="Vietjet Air">Vietjet Air</option>
                                <option value="Bamboo Airways"> Bamboo Airways</option>
                                <option value="Jetstar Pacific Airlines">Jetstar Pacific Airlines </option>
                              </select>
                              <span class="text-danger" ng-if="kiemtra.Flight">{{errorMessages.Flight}}</span>
                        </div>
                        
                    </div>
                   </div>
                    <!-- Ngày sinh-->
                    <div class="form-group">
                        <div class="row mt-3 mb-2">
                            <div class="col-6">
                                <label for="">Ngày sinh</label>
                                
                            </div>
                            <div class="col-6">
                                <input type="date" id="datepicker" ng-model="booking.Birthday" class="form-control mb-2" ng-click="clearError('Birthday')">
                                <span class="text-danger" ng-if="kiemtra.Birthday">{{errorMessages.Birthday}}</span>
                            </div>
                        </div>
                       
                    </div>
                    <!-- Hành lý -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6">
                                <label for="">Hành lý</label>

                            </div>
                            <div class="col-6">
                                <input type="text" id="datepicker"  class="form-control mb-2" ng-model="booking.Luggage" placeholder="Hành lý" ng-click="clearError('Luggage')">
                                <span class="text-danger" ng-if="kiemtra.Luggage">{{errorMessages.Luggage}}</span>
                            </div>
                        </div>
                       
                    </div>

                    <!-- CHọn hình thức thành toán -->
                    <div class="form-group">
                        <div class="row mt-3">
                        <div class="col-6">
                            <label for="" class="mt-2">Hình thức thanh toán</label>
                        </div>
                        <div class="col-6">
                            <select  class="form-select" aria-label="Default select example" ng-model="booking.Payment ">
                                <option selected>--Chọn--</option>
                                <option value="Thẻ ATM">Thẻ ATM</option>
                                <option value="Thẻ Thanh Toán Quốc Tế">Thẻ Thanh Toán Quốc Tế</option>
                                <option value="Ví Điện Tử">Ví Điện Tử</option>
                              </select>
                              <span class="text-danger" ng-if="kiemtra.Payment">{{errorMessages.Payment}}</span>
                              
                        </div>
                    </div>
                   </div>
                    <button class="btn btn-outline-warning mt-5 form-control" type="submit">SỬA THÔNG TIN ĐẶT VÉ</button>

                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="noidung bg-light">
                    <h1 class="text-center">{{tieude}}</h1>
                    <div class="element-container">
                        <p>Phương châm dịch vụ mà chúng tôi luôn hướng đến là “Hãy phục vụ khách hàng như cách mà bạn muốn được phục vụ” đã đưa chúng tôi tới thành công ngày hôm nay.</p>
                        <p>Không chỉ cung cấp dịch vụ ngày một hoàn thiện mà còn là người bạn đồng hành trong mọi chuyến đi của khách hàng, đó cũng là giá trị cốt lõi của những gì chúng tôi làm, hỗ trợ khách hàng bất cứ khi nào có khó khăn trong hành trình của họ.</p>
                        <p>Với gần 30 năm kinh nghiệm và được sự đánh giá cao từ khách hàng, chúng tôi tin rằng chúng tôi luôn là lựa chọn đầu tiên đối với các công ty và khách hàng thường xuyên khi họ tìm kiếm một đại lý du lịch chuyên nghiệp và tận tâm.</p>
                        <div class="footer-container">                                      
                                <span class="">Niềm vui và sự hài lòng của khách hàng
                                    <br>
                                    là thành công của chúng tôi!
                                </span>                              
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div> 


<!-- Table thông tin đặt vé máy bay -->

  


</div>