<div class="container" >
    <!-- Content -->
    <div class="content" id="contentTinTuc">
              <!-- Tin tức -->
             <div class="box-tintuc">
                <div class="tintuc d-flex justify-content-between mt-5">
                    <div class="tieude my-3">
                        <h3 class="">{{tintuc}}</h3>
                    </div>
                  
              </div>

              <div class="bangtinhot">
                <!-- Hàng 1 -->
                <div class="row mb-4">
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/dia-diem-song-ao-dep-nhat-phu-quoc-tintuc1.png" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Ngành du lịch phát triển mạnh</a></p>
                                <p class="date ps-2">Kỳ nghỉ kéo dài 4 ngày đem đến nguồn thu lớn cho du lịch TP Hồ Chí Min</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/thanh-toan-giao-hang-tintuc2.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Thành toán & giao hàng</a></p>
                                <p class="date ps-2">Khách đặt dịch vụ khách sạn, công viên giải trí bằng thẻ UnionPay trên website </p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/khuyen-mai-nhan-dip-khai-truong--tintuc3.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Khuyến mãi nhân dịp khai trương</a></p>
                                <p class="date ps-2">Công ty Du lịch Vietravel chính thức khai trương chi nhánh mới Tây Ninh </p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/khuyen-mai-nhan-dip-khai-truong-tintuc4.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Địa điểm đẹp nhất Hàn Quốc</a></p>
                                <p class="date ps-2">Nằm giữa lòng thủ đô Seoul Hàn Quốc, Hồ Seokchon là một hồ nước tự nhiên  </p>
                             </div>
                        </div>
                    </div>
                </div>
                <!-- Hàng 2 -->
                <div class="row mb-4">
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/Tintuc1.jfif" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Địa điểm đẹp nhất Trung Quốc</a></p>
                                <p class="date ps-2">Năm nay, du khách có thể tận hưởng mùa thu Trung Quốc</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/Tintuc2.png" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Hộ chiếu gắn chip điện tử</a></p>
                                <p class="date ps-2">Hộ chiếu gắn chip điện tử bắt đầu được cấp từ ngày 1/09/2023</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/Tintuc3.png" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Đặt vé để gặp thần tượng Black Pink</a></p>
                                <p class="date ps-2">Liên hệ ngay với Vivavivu để đặt vé trên Air Asia đến Kuala Lumpur giá tốt nhất!</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/Tintuc4.png" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Chính sách nhập cảng Úc</a></p>
                                <p class="date ps-2">Chính sách nhập cảnh Úc cho hành khách đến từ Trung Quốc tháng 01/2023</p>
                             </div>
                        </div>
                    </div>
                </div>
                <!-- Hàng 3 -->
                <div class="row mb-4">
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/Tintuc5.png" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Chính sách nhập cảnh vào Ấn Độ</a></p>
                                <p class="date ps-2">Chính sách nhập cảnh vào Ấn Độ từ tháng 09/2023</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/Tintuc6.png" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Thông báo nhập cảng Trung Quốc</a></p>
                                <p class="date ps-2">Thông báo nhập cảng Trung Quốc từ ngày 13/10/2023</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/Tintuc7.jfif" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Thông báo nhập cảng Đài Loan</a></p>
                                <p class="date ps-2">Thông báo nhập cảng Đài Loan từ ngày 10/09/20232</p>
                             </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/Tintuc8.jfif" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <p class="mt-2 ps-2 tieudechinh"><a href="">Dỡ bỏ - những quy định khi đến Pháp</a></p>
                                <p class="date ps-2">Cập nhật - Dỡ bỏ các quy định khi đến Pháp từ 1/09/2032</p>
                             </div>
                        </div>
                    </div>
                </div>

                <!-- Phân trang -->
                <div class="phantrang ">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-center">
                          <li class="page-item disabled">
                            <a class="page-link" href="/Asm/views/NewsPage3.html"> <span aria-hidden="true">&laquo;</span></a>
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="/Asm/views/NewsPage2.html">2</a></li>
                          <li class="page-item"><a class="page-link" href="/Asm/views/NewsPage3.html">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="/Asm/views/NewsPage2.html"> <span aria-hidden="true">&raquo;</span></a>
                          </li>
                        </ul>
                      </nav>
                </div>
              </div> 
             </div>     
    </div>
    
</div>