<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Date Picker</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src=""></script>
</head>
<body>
    <label for="datepicker">Chọn ngày:</label>
    <input type="date" id="datepicker">
    <p id="selectedDate"></p>

    
</body>
</html>