<div class="container" id="containerTour">
    <!-- Content -->
    <div class="content" id="contentTour">
        
        <div class="boxTour">
             <!-- Nội dung -->
        <div class="tours text-center my-5">
            <h1 >{{tourhot}}</h1>
            <div class="row duLich">
                <!-- item 1 -->
                  <div class="col-3 item1">
                      <div class="noidung">
                          <div class="anh">
                              <img src="../Asm/images/du-lich-bien-phu-quoc-TourHot.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                          </div>
                           
                      </div>
                  </div>
                  <div class="col-3 item2">
                      <div class="noidung">
                          <div class="anh">
                              <img src="../Asm/images/du-lich-bien-phu-quoc4-TourHot.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                          </div>
                          
                      </div>
                  </div>
                  <div class="col-3 item3">
                      <div class="noidung">
                          <div class="anh">
                              <img src="../Asm/images/du-lich-bien-phu-quoc2-TourHot.jpg" alt="" class= " img__item  w-full ">
                          </div>
                          
                      </div>
                  </div>
                  <div class="col-3 item4">
                      <div class="noidung">
                          <div class="anh">
                              <img src="../Asm/images/du-lich-bien-phu-quoc3-TourHot.jpg" alt="" class= " img__item  w-full ">
                          </div>
                          
                      </div>
                  </div>
              </div>
           
    </div>

    <!-- Tour Phú Quốc -Trong nước -->
    <div class="tours-PhuQuoc  my-5">
        <div class="tour-header">
           <div class="">
                    <h1>{{tourtrongnuoc}}</h1>
           </div>
        </div>
        <!-- Những tour phú quốc -->
        <div class="row duLich mb-5">
          <!-- item 1 -->
            <div class="col-3 item1">
                <div class="noidung">
                    <div class="anh">
                        <img src="../Asm/images/du-lich-bien-phu-quoc-TourHot.jpg" alt="" class= " img__item  w-full ">
                    </div>
                     <div class="tieude">
                        <h2 class=""><a href="">DU LỊCH BIỂN PHÚ QUỐC</a></h2>
                     </div>
                    <div class="gia">
                        <strong class="tien fw-bold">3.000.000</strong>
                        <span class="donvi">VND</span>
                     </div>
                </div>
            </div>
            <div class="col-3 item2">
                <div class="noidung">
                    <div class="anh">
                        <img src="../Asm/images/du-lich-bien-phu-quoc4-TourHot.jpg" alt="" class= " img__item  w-full ">
                    </div>
                     <div class="tieude">
                        <h2 class=""><a href="">DU LỊCH ĐÀ NẴNG</a></h2>
                     </div>
                    <div class="gia">
                        <strong class="tien fw-bold">4.000.000</strong>
                        <span class="donvi">VND</span>
                     </div>
                </div>
            </div>
            <div class="col-3 item3">
                <div class="noidung">
                    <div class="anh">
                        <img src="../Asm/images/du-lich-bien-phu-quoc2-TourHot.jpg" alt="" class= " img__item  w-full ">
                    </div>
                     <div class="tieude">
                        <h2 class=""><a href="">DU LỊCH NHA TRANG</a></h2>
                     </div>
                    <div class="gia">
                        <strong class="tien fw-bold">5.000.000</strong>
                        <span class="donvi">VND</span>
                     </div>
                </div>
            </div>
            <div class="col-3 item3">
                <div class="noidung">
                    <div class="anh">
                        <img src="../Asm/images/du-lich-bien-phu-quoc3-TourHot.jpg" alt="" class= " img__item  w-full ">
                    </div>
                     <div class="tieude">
                        <h2 class=""><a href="">DU LỊCH VỊNH HẠ LONG</a></h2>
                     </div>
                    <div class="gia">
                        <strong class="tien fw-bold">2.000.000</strong>
                        <span class="donvi">VND</span>
                     </div>
                </div>
            </div>
        </div>

        <!-- Hàng 2 -->
        <div class="row duLich mb-5">
            <!-- item 1 -->
              <div class="col-3 item1">
                  <div class="noidung">
                      <div class="anh">
                          <img src="../Asm/images/du-lich-bien-phu-quoc-TourHot.jpg" alt="" class= " img__item  w-full ">
                      </div>
                       <div class="tieude">
                          <h2 class=""><a href="">DU LỊCH HUẾ</a></h2>
                       </div>
                      <div class="gia">
                          <strong class="tien fw-bold">2.000.000</strong>
                          <span class="donvi">VND</span>
                       </div>
                  </div>
              </div>
              <div class="col-3 item2">
                  <div class="noidung">
                      <div class="anh">
                          <img src="../Asm/images/du-lich-bien-phu-quoc4-TourHot.jpg" alt="" class= " img__item  w-full ">
                      </div>
                       <div class="tieude">
                          <h2 class=""><a href="">DU LỊCH PHỐ CỔ HỘI AN</a></h2>
                       </div>
                      <div class="gia">
                          <strong class="tien fw-bold">5.000.000</strong>
                          <span class="donvi">VND</span>
                       </div>
                  </div>
              </div>
              <div class="col-3 item3">
                  <div class="noidung">
                      <div class="anh">
                          <img src="../Asm/images/du-lich-bien-phu-quoc2-TourHot.jpg" alt="" class= " img__item  w-full ">
                      </div>
                       <div class="tieude">
                          <h2 class=""><a href="">DU LỊCH ĐÀ LẠT</a></h2>
                       </div>
                      <div class="gia">
                          <strong class="tien fw-bold">4.000.000</strong>
                          <span class="donvi">VND</span>
                       </div>
                  </div>
              </div>
              <div class="col-3 item3">
                  <div class="noidung">
                      <div class="anh">
                          <img src="../Asm/images/du-lich-bien-phu-quoc3-TourHot.jpg" alt="" class= " img__item  w-full ">
                      </div>
                       <div class="tieude">
                          <h2 class=""><a href="">DU LỊCH ĐẢO CÁT BÀ</a></h2>
                       </div>
                      <div class="gia">
                          <strong class="tien fw-bold">3.000.000</strong>
                          <span class="donvi">VND</span>
                       </div>
                  </div>
              </div>
          </div>

          <!-- Mùa Hè -->
          <div class="Muahe mb-5">
                <div class="row">
                    <div class="col-6 pe-0 ">
                        <img src="../Asm/images/banner-du-lich-he_batch-Muahe1.jpg" alt="" class="w-100">
                    </div>
                    <div class="col-6 ps-0">
                        <img src="../Asm/images/banner-du-lich-chau-au_batch-MuaHe2.jpg" alt="" class="w-100 ">
                    </div>
                </div>
          </div>

          <!-- Dịch vụ -->
          <div class="service">
            <div class="tieude">
                <h1 class="text-center" >{{dichvu}}</h1>
            </div>
            <div class="row baiviet">
                <div class="col-4">
                    <div class="noidung">
                        <div class="anh">
                            <img src="../Asm/images/dich-vu-cho-thue-tau-cano-Service1.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                        </div>
                         <div class="tieude">
                            <h2 class="text-center"><a href="">Dịch vụ cho thuê tàu, cano</a></h2>
                         </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="noidung">
                        <div class="anh">
                            <img src="../Asm/images/bang-gia-phong-resort-khach-san-Service2.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                        </div>
                         <div class="tieude">
                            <h2 class="text-center"><a href="">Bảng giá phòng resort, khách sạn</a></h2>
                         </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="noidung">
                        <div class="anh">
                            <img src="../Asm/images/dich-vu-ban-cho-thue-xe-doi-moi-Service3.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                        </div>
                         <div class="tieude">
                            <h2 class="text-center"><a href="">Dịch vụ bán, cho thuê xe đời mới</a></h2>
                         </div>
                    </div>
                </div>
                <!-- Hàng 2 -->
                <div class="row mt-t service2 d-flex justify-content-around">
                    <div class="col-6">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/dich-vu-ban-ve-may-bay-Service4.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <h2 class="text-center"><a href="">Dịch vụ bán vé máy bay</a></h2>
                             </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="noidung">
                            <div class="anh">
                                <img src="../Asm/images/dich-vu-ban-ve-tham-quan-cac-diem-Service5.jpg" alt="" class= " img__item  w-full img-thumbnail ">
                            </div>
                             <div class="tieude">
                                <h2 class="text-center"><a href="">Dịch vụ thăm quan các địa điểm</a></h2>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>                     
    </div>
        </div>
    </div>
    
</div>